// Main Component class
.tsl-Nav {
  margin: 0;
  padding: 0;


  /* Default component styles */
}


.tsl-Nav-list {
  @include type-display-small;
  display: flex;
  justify-content: space-between;
  float: inline-start;
  background-color: $color-tint-orange-secondary;
  list-style-type: none;
}

