// Main Component class
.tsl-Nav {
  margin: 0;
  padding: 4px;


  /* Default component styles */
}


.tsl-Nav-list {
  @include type-display-small;
  display: flex;
  justify-content: center;
  float: inline-start;
  background-color: $color-tint-orange-secondary;
  list-style-type: none;
  text-decoration: none;
}

.tsl-Nav-list-item {
  padding: 15px;
}

.tsl-Nav-list-link {
  text-transform: uppercase;
  font-weight: lighter;
  text-decoration-color: black;
}